#calendar-div {
  --primary-color: teal;
  --text-color: white;
  --border-color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.fc-event-time {
  display: none;
}

.fc-event-title {
  top: 0;
  bottom: 0;
  max-height: 100%;
  overflow: hidden;
  font-size: 85%;
  font-weight: bolder;
}

.fc-v-event .fc-event-main {
  color: white;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.fc-button-group {
  margin-left: 2px;
  margin-right: 2px;
}

.fc-header-toolbar {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

.fc-button {
  background-color: var(--primary-color) !important;
}

.fc-button-active {
  opacity: 60%;
}

.fc-daygrid-event-dot {
  margin: 0 4px;
  box-sizing: content-box;
  width: 0;
  height: 0;
  border: 4px solid #3788d8;
  border: calc(var(--fc-daygrid-event-dot-width, 8px) / 2) solid
    var(--fc-event-border-color, var(--primary-color));
  border-radius: 4px;
  border-radius: calc(var(--fc-daygrid-event-dot-width, 8px) / 2);
}

.fc-header-toolbar {
  margin-bottom: 1.5em;
  margin-left: 0em;
  margin-right: 0em;
}

.fc-theme-standard td {
  border: 1px solid var(--fc-border-color, var(--border-color));
}

.fc-theme-standard th {
  border: 1px solid var(--fc-border-color, var(--border-color));
}

.fc-theme-standard .fc-scrollgrid {
  border: 1px solid var(--fc-border-color, var(--border-color));
}
