#calendar-div {
  --primary-color: purple;
  --text-color: white;
}

.fc-event-time {
  display: none;
}

.fc-event-title {
  top: 0;
  bottom: 0;
  max-height: 100%;
  overflow: hidden;
  font-size: 85%;
  font-weight: bolder;
}

.fc-v-event .fc-event-main {
  color: white;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.fc-header-toolbar {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

.fc-button {
  background-color: var(--primary-color) !important;
}
.fc-button-active {
  opacity: 60%;
}
