@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600&display=swap');

.App {
  text-align: center;
}

.main-container {
  padding-bottom: 20%;
  padding-left: 0px;
  padding-right: 0px;
}

.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}
